@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    padding: 4rem 0;

    &__titulo {
        text-align: center;
        color: v.$primario;
    }

    &__contenedor {
        border: 3px solid v.$primario;
        padding: 3rem;
        border-radius: 10px;
    }

    &__descripcion {
        font-size: 2.3rem;
        text-align: center;
        color: v.$primario;
    }

    &__ciudad {
        display: block;
        width: 100%;
        padding: 1rem;
        border: 1px solid v.$primario;
        background-color: v.$azulClaro;

        &:focus {
            outline: none;
        }
    }

    &__pais {
        display: block;
        width: 100%;
        padding: 1rem;
        border: 1px solid v.$primario;
        background-color: v.$azulClaro;


        &:focus {
            outline: none;
        }
    }

    &__boton {
        display: block;
        margin-bottom: 1rem;
        margin-top: 2rem;
        padding: 1.5rem;
        border: none;
        background-color: v.$primario;
        color: v.$blanco;
        border-radius: 1rem;
        border: 1px solid v.$primario;
        transition-property: background-color;
        transition-duration: 300ms;
        margin: 0 auto;
        width: 100%;

        @include m.tablet { 
            width: auto;
        }

        &:hover {
            background-color: v.$azulClaro;
            color: v.$primario;
            cursor: pointer;
        }
    }

    form {
        font-size: 2rem;

        @include m.tablet { 
            padding: 0 12rem;            
        }
    }

    &__campo {
        padding: 2rem 0;
    }

    &__submit {
        padding-bottom: 5rem;
        padding-top: 2rem;
    }
}

.alerta {
    background-color: v.$primario;
    border: 3px solid v.$primario;
    color: v.$blanco;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;

    &__mensaje {
        color: v.$blanco;
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.clima {
    font-size: 8rem;
    margin: 0;
    font-weight: bold;
    border-top: 3px solid v.$blanco;
    border-bottom: 3px solid v.$blanco;
    margin-bottom: 2rem;
}

.clima-min, .clima-max {
    margin: 0;
    font-size: 2.2rem;
    color: v.$azulClaro;

    @include m.tablet { 
        font-size: 3rem;
    }
}

.clima-ciudad {
    margin: 0;
    font-size: 5rem;
    color: v.$azulClaro;
    font-weight: bold;
    line-height: 1;
    padding: 2rem 0;
    
}

.divclima {
    background-color: v.$primario;
    border: 3px solid v.$primario;
    padding: 2rem 2rem;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.divMinMax {
    display: flex;
    justify-content: space-around;
}

.clima-calido {
    color: v.$secundario;
}

.clima-templado {
    color: v.$azulClaro;
}

.clima-frio {
    color: v.$azulFuerte;
}

// Spinner

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }