@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    @include m.grid (3, 1rem);
    padding: 3rem 0;

    &__enlace {
        background-color: transparent;
        color: v.$blanco;
        padding: 1.5rem 1rem;
        text-align: center;
        border-radius: 10px;
        border: 2px solid v.$blanco;

        @include m.tablet { 
            margin-right: 3rem;
            border-radius: 10px;
            transition-property: transform;
            transition-duration: .3s;

            &__last-of-type {
                margin-right: 0;
            }

            &:hover {
                background-color: v.$primario;
                color: v.$blanco;
                border: 2px solid v.$primario;
                transform: scale(0.90);
            }
        }
    }
}